<div class="section mt-3">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">THE GOOD PAYROLL vous accompagne</h1>
            <div fxLayout="row wrap" class="services-wrapper" fxLayoutAlign="center center">
                <div fxFlex="100" fxFlex.gt-md="80" fxFlex.gt-sm="80" class="p-2">
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-80 w-100 text-center">
                        <div class="space">
                            <mat-icon class="mat-icon-xlg" color="primary">done_outline</mat-icon>
                            <p>tout au long de votre projet d’externalisation de la paie avec
                                <br>
                                <span class="b">un service adapté, sur mesure et en fonction de vos besoins avec un cout
                                    maitrisé</span>
                            </p>

                        </div>
                        <div class="space">
                            <mat-icon class="mat-icon-xlg" color="primary">query_builder</mat-icon>
                            <p>Confié votre paie à des <span class="b">experts</span>, libérer vous de taches
                                chronophages, et
                                consacrer vousà des taches et missions à de valeur ajoutée.</p>
                        </div>
                        <div class="space">
                            <mat-icon class="mat-icon-xlg" color="primary">question_answer</mat-icon>
                            <p>Nous mettons à votre disposition <span class="b">des professionnels de la paie</span>
                                ainsi que nos
                                <span class="b">compétences en droit social</span>.
                            </p>
                        </div>
                        <div class="space">
                            <mat-icon class="mat-icon-xlg" color="primary">thumb_up</mat-icon>
                            <h4>N’hésitez plus et faites nous confiance !</h4>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-chart">
    <div class="px-3">
        <div class="theme-container">
            <div fxLayout="row wrap" class="services-wrapper" fxLayoutAlign="center center">
                <div fxFlex="100" fxFlex.gt-md="80" fxFlex.gt-sm="80" class="p-2">
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center">
                        <mat-icon class="mat-icon-xlg" color="primary">verified_user</mat-icon>
                        <div fxFlex="80" fxFlex.gt-md="80" fxFlex.gt-sm="80" class="p-2">
                            <img class="responsive" src="./../../../assets/images/others/chart.png" alt="">
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>