.services-wrapper {
  margin: -8px;
}

.space {
  margin: 1rem;
}

.b {
  font-weight: bold;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.img {
  max-width: 60vh;
  width: 60vw;
  box-shadow: 10px 5px 5px rgb(53, 53, 53);
  margin: 10px;
}
