<app-header-image *ngIf="settings.header == 'image'" 
                [backgroundImage]="'assets/images/others/homepage.jpg'"
                [bgImageAnimate]="true"
                [contentOffsetToTop]="true"
                [title]="'MIME PAIE'"
                [desc]="'Leading Real Estate Company'"
                [isHomePage]="true"
                [fullscreen]="false">
</app-header-image> 

<app-header-carousel *ngIf="settings.header == 'carousel'" 
                    [slides]="slides" 
                    [contentOffsetToTop]="true"
                    [fullscreen]="false">
</app-header-carousel>

<app-header-map *ngIf="settings.header == 'map'" 
                [locations]="locations" 
                [contentOffsetToTop]="true"
                [fullscreen]="false">
</app-header-map>

<app-header-video *ngIf="settings.header == 'video'" 
                [backgroundVideo]="'http://themeseason.com/data/videos/video-1.mp4'" 
                [contentOffsetToTop]="true"
                [title]="'Find your house key'"
                [desc]="'Leading Real Estate Company'"
                [isHomePage]="true"
                [fullscreen]="true">
</app-header-video>

<app-mission></app-mission>

<app-our-services></app-our-services>

<app-testimonials></app-testimonials> 

<app-our-agents></app-our-agents>
      
<app-clients id="cool"></app-clients>

<app-get-in-touch></app-get-in-touch>