<div class="section mt-3">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">EXTERNALISATION
            </h1>
            <div fxLayout="row wrap" class="services-wrapper">
                <div fxFlex.gt-xs="50" fxFlex.xs="100" class="p-2">
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center">
                        <mat-icon class="mat-icon-xlg" color="primary">share</mat-icon>
                        <div class="p-2">
                            <img class="img"
                                src="./../../../assets/images/others/cytonn-photography-vWchRczcQwM-unsplash.jpg"
                                alt="">
                        </div>
                        <h2 class="capitalize fw-600">Partenariat sur les aspects comptables

                        </h2>
                        <h2 class="capitalize fw-600">Sous-traitance : confier votre paie à des experts paie

                        </h2>
                        <p>- Optimisation - Fiabilisation - Mise en conformité
                        </p>
                    </mat-card>
                </div>
                <div fxFlex.gt-xs="50" fxFlex.xs="100" class="p-2">
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center">
                        <mat-icon class="mat-icon-xlg" color="primary">star_half</mat-icon>
                        <div class="p-2">
                            <img class="img"
                                src="./../../../assets/images/others/cytonn-photography-vWchRczcQwM-unsplash.jpg"
                                alt="">
                        </div>
                        <h2 class="capitalize fw-600 my-3">AUDIT / ANALYSE
                        </h2>
                        <p>Nous procédons à votre demande à une analyse approfondie de votre situation sociale en
                            passant par un audit complet avec pour objectif la mise en conformité de votre paie, de
                            votre règlementaire et ainsi détecter les zones à risques sur un plan social avec le
                            livrable d’une préconisation avec effet immédiat.
                        </p>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>