<div class="section mt-3">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">GESTION PAIE DE A à Z</h1>
            <div fxLayout="row wrap" class="services-wrapper">
                <div fxFlex="100" class="p-2">
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center">
                        <img class="img"
                            src="./../../../assets/images/others/cytonn-photography-vWchRczcQwM-unsplash.jpg" alt="">
                        <mat-icon class="mat-icon-xlg" color="primary">verified_user</mat-icon>
                        <h2 class="capitalize fw-600 my-3">L’externalisation c’est confié votre paie à des experts </h2>
                        <mat-list role="list">
                            <mat-list-item role="listitem">
                                <mat-icon matListIcon>assignment_turned_in</mat-icon>Maitriser votre budget
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon matListIcon>assignment_turned_in</mat-icon>Assurer une paie juste
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon matListIcon>assignment_turned_in</mat-icon>Limiter les risques sociaux
                            </mat-list-item>
                        </mat-list>
                    </mat-card>
                </div>

                <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-sm="50" class="p-2">
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center">
                        <mat-icon class="mat-icon-xlg" color="primary">arrow_downward</mat-icon>
                        <div class="p-2">
                            <img class="img"
                                src="./../../../assets/images/others/christina-wocintechchat-com-Q8IgAlmHAUA-unsplash.jpg"
                                alt="">
                        </div>
                        <h2 class="capitalize fw-600 my-3">EXTERNALISER LA GESTION DE L’ADMINISTRATION DU PERSONNEL
                        </h2>
                        <mat-icon class="mat-icon-xlg" color="primary">arrow_drop_down_circle</mat-icon>
                        <p>Confier la gouvernance de votre paie de l’entrée à la sortie du salarié et ce sans
                            négliger les aspects administratives du personnel:
                        </p>


                        <mat-icon matList>arrow_drop_down_circle</mat-icon>
                        <p>

                            Promesse d’embauche
                        </p>
                        <mat-icon matList>arrow_drop_down_circle</mat-icon>
                        <p>
                            Contrat de travail
                        </p>

                        <mat-icon matList>arrow_drop_down_circle</mat-icon>
                        <p>
                            <span>Affiliation Mutuelle/Prévoyance</span>
                        </p>

                        <mat-icon matList>arrow_drop_down_circle</mat-icon>
                        <p>
                            <span>Production de la paie/Déclarations sociales</span>
                        </p>

                        <mat-icon matList>arrow_drop_down_circle</mat-icon>
                        <p>
                            <span>Gestion Administrative de la sortie du salarié</span>
                        </p>

                        <mat-icon matList>arrow_drop_down_circle</mat-icon>
                        <p>
                            <span>Mise à disposition des documents de sortie</span>
                        </p>

                        <mat-icon matList>arrow_drop_down_circle</mat-icon>
                        <p>
                            <span>Certificat de travail attestation pôle emploi « AED », (Reçu du solde de tout compte,
                                Portabilité)</span>
                        </p>



                    </mat-card>
                </div>
                <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-sm="50" class="p-2">
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center">
                        <mat-icon class="mat-icon-xlg" color="primary">supervisor_account</mat-icon>
                        <div class="p-2">
                            <img class="img"
                                src="./../../../assets/images/others/christina-wocintechchat-com-Q8IgAlmHAUA-unsplash.jpg"
                                alt="">
                        </div>
                        <h2 class="capitalize fw-600 my-3">LIMITER LES RISQUES SOCIAUX
                        </h2>

                        <mat-icon class="mat-icon-xlg" color="primary">arrow_drop_down_circle</mat-icon>

                        <p>
                            <span>Préparation/Anticipation du contrôle URSSAF
                            </span>
                        </p>

                        <mat-icon matList>arrow_drop_down_circle</mat-icon>
                        <p>
                            <span>Accompagnement/Plan d’action
                            </span>
                        </p>

                        <mat-icon matList>arrow_drop_down_circle</mat-icon>
                        <p>
                            <span>Maitrise des questions d’ordre légale & Juridique
                            </span>
                        </p>

                        <mat-icon matList>arrow_drop_down_circle</mat-icon>
                        <p>
                            <span>Mise à disposition de toutes les pièces
                                justificatifs destinées aux organismes sociaux</span>
                        </p>


                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section mt-3">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">DIGITALISATION DE LA FONCTION RH
            </h1>
            <div fxLayout="row wrap" class="services-wrapper">
                <div fxFlex="100" class="p-2">
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center">
                        <img class="img"
                            src="./../../../assets/images/others/cytonn-photography-vWchRczcQwM-unsplash.jpg" alt="">
                        <mat-icon class="mat-icon-xlg" color="primary">line_style</mat-icon>
                        <h2 class="capitalize fw-600 my-3">La fonction RH évolue et se dématérialise
                        </h2>
                        <p>La transformation digitale des entreprises et organismes de protection sociale est en pleine
                            essor avec une intégration de la technologie dans tous les aspects de la société humaine
                            afin de lutter contre la fraude.
                        </p>
                    </mat-card>
                </div>
                <div fxFlex.gt-xs="33" fxFlex.xs="100" class="p-2">
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center">
                        <mat-icon class="mat-icon-xlg" color="primary">arrow_downward</mat-icon>
                        <div class="p-2">
                            <img class="responsive"
                                src="./../../../assets/images/others/christina-wocintechchat-com-Q8IgAlmHAUA-unsplash.jpg"
                                alt="">
                        </div>
                        <h2 class="capitalize fw-600 my-3">DECENTRALISATION DE LA SAISIE DE EVP (éléments variables de
                            paie)
                        </h2>
                        <p>Une option possible afin de vous permettre la maitrise de la saisie de vos données
                        </p>
                    </mat-card>
                </div>
                <div fxFlex.gt-xs="33" fxFlex.xs="100" class="p-2">
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center">
                        <mat-icon class="mat-icon-xlg" color="primary">arrow_downward</mat-icon>
                        <div class="p-2">
                            <img class="responsive"
                                src="./../../../assets/images/others/christina-wocintechchat-com-Q8IgAlmHAUA-unsplash.jpg"
                                alt="">
                        </div>
                        <h2 class="capitalize fw-600 my-3">ACCÈS AU PORTAIL AVEC LA GESTION DES ABSENCES PAR LE SALARIÉ
                        </h2>
                        <p>Un outil de gestion des absences pour vos salariés avec un work flow pour la validation des
                            congés avec un déversement directement en paie
                        </p>
                    </mat-card>
                </div>
                <div fxFlex.gt-xs="33" fxFlex.xs="100" class="p-2">
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center">
                        <mat-icon class="mat-icon-xlg" color="primary">arrow_downward</mat-icon>
                        <div class="p-2">
                            <img class="responsive"
                                src="./../../../assets/images/others/christina-wocintechchat-com-Q8IgAlmHAUA-unsplash.jpg"
                                alt="">
                        </div>
                        <h2 class="capitalize fw-600 my-3">DEMATERIALISATION DES DOCUMENTS
                        </h2>
                        <p>L’envoi des documents au travers d’un portail sécurisé confidentiel et personnel
                        </p>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>