<mat-toolbar id="top-toolbar" class="top-toolbar">
  <div class="theme-container">
    <app-contacts fxLayout="row" fxLayoutAlign="space-between center"></app-contacts>
  </div>
</mat-toolbar>
<mat-toolbar id="main-toolbar" class="mat-elevation-z2">
  <div class="theme-container" fxLayout="row" fxLayoutAlign="center center">
    <span fxHide fxShow.xs>
      <button mat-button (click)="sidenavToggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </span>
    <div fxShow="false" fxShow.gt-xs class="horizontal-menu">
      <app-horizontal-menu [menuParentId]="0"></app-horizontal-menu>
    </div>
  </div>
</mat-toolbar>